<header id="header" class="header d-flex align-items-center light-background sticky-top">
  <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

    <a routerLink="/home" class="logo d-flex align-items-center me-auto me-xl-0">
      <h1 class="sitename">Cyrine Mezzi

      </h1>
    </a>

    <nav class="navmenu">
  <ul>
    <li><a routerLink="/home" class="active">Accueil</a></li>
    <li><a routerLink="/about">Présentation</a></li>
    <li><a routerLink="/resume">Parcours Professionnel

    </a></li>
    <li><a routerLink="/portfolio">Portfolio</a></li>
    <li><a routerLink="/contact" class="active">
        Contact</a></li>
  </ul>
</nav>

    <div class="header-social">
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-envelope"></i>
    </div>

  </div>
</header>

<main class="contact-container">

<section class="contact-section">
  <div class="container">

    <h1 class="title">Contactez-moi
    </h1>
    <p class="subtitle">
     Je cherche un emploi en tant qu’ingénieur en informatique. Contactez-moi pour toute opportunité adaptée à mon profil.</p>

   <div class="contact-card">

  <!-- LEFT BLACK BOX -->
  <div class="left-box">
    <h2>Informations de Contact</h2>
    <p class="desc">Vous êtes recruteur ou souhaitez collaborer ? Remplissez le formulaire et je vous répondrai dans les plus brefs délais.</p>

    <div class="info-item"><span class="icon">📞</span> +216 25 368 954
    </div>
    <div class="info-item"><span class="icon">✉️</span> hello@mail.com</div>
    <div class="info-item"><span class="icon">🎫</span> Consultez mon profil LinkedIn
    </div>
  </div>

  <!-- RIGHT FORM -->
  <form class="right-form">

    <div class="row">
      <div class="form-group">
        <label>Prénom</label>
        <input type="text" placeholder="ex. Julien
        " />
      </div>

      <div class="form-group">
        <label>Nom</label>
        <input type="text" placeholder="ex. Jones
        " />
      </div>
    </div>

    <div class="form-group full">
      <label>E-mail</label>
      <input type="email" placeholder="ex. Julien.Jones@mail.com
      " />
    </div>

 

    <div class="form-group full">
  <label>Type de collaboration ou poste</label>

  <div class="radio-row">
    <label><input type="radio" name="interest" checked /> Stage</label>
    <label><input type="radio" name="interest" /> Emploi à temps plein</label>
    <label><input type="radio" name="interest" /> Freelance / Mission</label>
    <label><input type="radio" name="interest" /> Autre</label>
  </div>
</div>

    <div class="form-group full">
      <label>Votre Message</label>
      <textarea rows="4" placeholder="Écrivez votre message ici..."></textarea>
    </div>

    <button type="submit" class="btn">ENVOYER LE MESSAGE</button>

  </form>

</div>


  </div>
</section>


</main>

<footer id="footer" class="footer light-background">
  <div class="container">
    <div class="copyright text-center">
      <p>© <strong class="sitename">Cyrine Mezzi

      </strong> All Rights Reserved</p>
    </div>
    <div class="social-links d-flex justify-content-center">
      <i class="bi bi-twitter-x"></i>
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-linkedin"></i>
    </div>
  </div>
</footer>
