<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About - Cyrine Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">


</head>

<body class="about-page">

  <header id="header" class="header">
  <div class="container-fluid nav-wrapper">
    
    <div class="logo">Cyrine Mezzi</div>

    <nav class="navmenu">
  <ul>
    <li><a routerLink="/home" >Accueil</a></li>
    <li><a routerLink="/about" class="active"
      >Présentation</a></li>
    <li><a routerLink="/resume">Parcours Professionnel

    </a></li>
    <li><a routerLink="/portfolio">Experience</a>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>


    <div class="header-social">
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-envelope"></i>
    </div>

  </div>
</header>
<main class="about-container">
  <!--hero-->
  <div class="hero-container">
  <img
    src="assets/img/back.JPG"
    alt="Hero image"
    class="hero-image"
  />

  <div class="reference-card">
    <h3>References</h3>

    <div class="ref-block">
      <span class="years">2018 – 2019</span>
      <p class="name">Baccauleréat em Matématique</p>
      <p class="school">Lycée Farhat Hached</p>
    </div>

    <div class="ref-block">
      <span class="years">2019 – 2022</span>
      <p class="name">Technicienne en Télécommunication , réseau et informatique</p>
      <p class="school">ISTIC</p>
    </div>
     <div class="ref-block">
      <span class="years">2022 – 2025</span>
      <p class="name">Ingénieur en informatique</p>
      <p class="school">Esprit</p>
    </div>
  </div>
</div>

<div class="intro-text">
  <p>
    Passionné par le développement logiciel et les technologies cloud, en tant qu’ingénieur et entrepreneur, 
    j’accompagne les organisations et les individus dans la structuration, 
    l’optimisation et la réussite durable de leurs projets, grâce à une approche rigoureuse, innovante et orientée résultats.
  </p>
</div>

<section class="experiences-section">

    <h2 class="section-title">Expérience Professionnelle</h2>
 <p>
      Mon parcours regroupe des expériences variées en développement web,
      DevOps, administration système et réseau, ainsi que des stages
      professionnels et expériences terrain.
    </p>
    <!-- Everience -->
      <div class="experiences-list">
    <!-- Toutes tes experience-card ici -->
    <div class="experience-card">
      <img src="assets/img/everience.png" alt="Everience Tunisia" class="experience-logo">

      <div class="experience-info">
        <h3>Administratrice Système et Réseau</h3>
        <span class="company-name">Everience Tunisia · Temps plein</span>
        <span class="experience-date">Déc. 2024 – Aujourd’hui | Tunis · Sur site</span>

        <p>
          Gestion, sécurisation et optimisation de l’infrastructure informatique.
        </p>

        <ul>
          <li>Résolution d’incidents techniques et support utilisateurs</li>
          <li>Supervision et configuration des serveurs, réseaux et pare-feu</li>
          <li>Garantie de la disponibilité, sécurité et performance des systèmes</li>
        </ul>
      </div>
    </div>

    <!-- DefensyLab -->
   <div class="experience-card">
  <img src="assets/img/defensy.png" alt="DefensyLab" class="experience-logo">

  <div class="experience-info">
    <h3>Stagiaire PFE – DevOps & Sécurité Cloud</h3>
    <span class="company-name">DefensyLab · Stage</span>
    <span class="experience-date">Janv. 2025 – Sept. 2025 | Tunis · Hybride</span>

    <p>
      Mon stage PFE, d’une durée de neuf mois, m’a permis d’acquérir une expérience approfondie dans la mise en œuvre de solutions DevOps basées sur Azure : automatisation CI/CD, conteneurisation avec Docker, gestion des pipelines, intégration d’outils de monitoring et optimisation des processus de déploiement. Cette expérience m’a offert une vision globale et concrète du cycle de vie logiciel. Je dispose également d’une solide base en développement Full Stack (Angular, Spring Boot, Node.js) et d’une maîtrise des outils essentiels du DevOps (Azure DevOps, Docker, Git, CI/CD, supervision). Curieuse, rigoureuse et dotée d’un fort esprit d’analyse, je suis capable d’aborder les problématiques techniques avec efficacité et créativité.
    </p>

    <ul>
      <li>Technologies : Kubernetes, Minikube ,   Nexus  , Docker ,Linux </li>
      <li>CI/CD : Azure, , GitLab CI, Azure DevOps</li>
      <li>Développement :  Angular, Spring Boot , MySQL</li>
      <li>Monitoring : Grafana , Power Bi</li>
    </ul>
  </div>
</div>

 <!-- Bryxia Consulting -->
   <div class="experience-card">
  <img src="assets/img/bryxia.PNG" alt="Bryxia Consulting" class="experience-logo">

  <div class="experience-info">
    <h3>Stagiaire Projet</h3>
    <span class="company-name">Bryxia Consulting · Stage</span>
    <span class="experience-date">Été 2023 – Été 2024 | À distance</span>

    <p>
      Contribution à un projet innovant pour les patients. Participation au développement d’une solution moderne et complète dédiée aux patients, la deuxième du genre en Tunisie, regroupant toutes les fonctionnalités nécessaires pour faciliter la gestion des visites médicales. Travail en équipe multidisciplinaire pour concevoir une application intuitive et efficace.
    </p>

    <ul>
      <li>Durée : 2 ans avec Bryxia Consulting (été 2023 et été 2024)</li>
      <li>Stage : 3 à 5 mois</li>
      <li>Technologies : Angular, Spring Boot, Intelligence Artificielle, MySQL, DevOps</li>
    </ul>
  </div>
</div>

    <!-- STEG -->
   <!-- STEG -->
<div class="experience-card">
  <img src="assets/img/steg.jpg" alt="STEG Tunisie" class="experience-logo">

  <div class="experience-info">
    <h3>Stagiaire Projet</h3>
    <span class="company-name">STEG Tunisie · Stage</span>
    <span class="experience-date">Juil. 2021 – Nov. 2021 | Tunis</span>

    <p>
      Participation à des projets techniques liés aux systèmes informatiques et à l’infrastructure IT, incluant la création et le développement de lignes téléphoniques et de solutions de télécommunication.
    </p>

    <ul>
      <li>Réseau : configuration de routeurs et switches</li>
      <li>Fibre optique : déploiement et maintenance</li>
      <li>Gestion de l’infrastructure télécom</li>
    </ul>
  </div>
</div>

   <!-- CNAM -->
<div class="experience-card">
  <img src="assets/img/cnam.jfif" alt="CNAM Tunisie" class="experience-logo">

  <div class="experience-info">
    <h3>Stagiaire Projet – Projet Fin d’Études</h3>
    <span class="company-name">CNAM · Stage</span>
    <span class="experience-date">Févr. 2022 – Mai 2022 | Tunisie</span>

    <p>
      Contribution au projet de la carte <strong>Labess</strong>, développé pour le CNAM et actuellement en cours d’exécution. Participation technique et fonctionnelle à la création d’une application permettant aux patients de réserver des rendez-vous et de consulter des informations sur leurs dossiers médicaux. 
    </p>

    <ul>
      <li>Technologies : Angular, Spring Boot, Bootstrap, MySQL</li>
      <li>Tests et validation : Postman</li>
      <li>Gestion fonctionnelle et technique du projet</li>
    </ul>
  </div>
</div>


    <!-- Solution Express -->
    <!-- Solution Express -->
<div class="experience-card">
  <img src="assets/img/solutionexpress.png" alt="Solution Express" class="experience-logo">

  <div class="experience-info">
    <h3>Consultante en solutions informatiques</h3>
    <span class="company-name">Solution Express · Temps plein</span>
    <span class="experience-date">Févr. 2023 – Mai 2024 | Tunis · Sur site</span>

    <p>
      Conseil IT et participation à l’amélioration de l’infrastructure des clients. Collaboration avec des techniciens canadiens pour la vente et l’installation de systèmes d’alarme basés sur l’Intelligence Artificielle. Gestion et suivi des projets via un CRM pour coordonner les installations et assurer un support efficace.
    </p>

    <ul>
      <li>Systèmes d’alarme IA</li>
      <li>Coordination avec techniciens pour l’installation</li>
      <li>Gestion de projet et suivi CRM</li>
      <li>Optimisation de l’infrastructure IT des clients</li>
    </ul>
  </div>
</div>


  

 <!-- Arvea -->
<div class="experience-card">
  <img src="assets/img/arvea.png" alt="Arvea" class="experience-logo">

  <div class="experience-info">
    <h3>Stagiaire Projet – Première expérience professionnelle</h3>
    <span class="company-name">Arvea · Stage</span>
    <span class="experience-date">Févr. 2021 – Mai 2021 | Tunisie</span>

    <p>
      Première expérience professionnelle, avec participation aux activités commerciales et à la vente de produits. Acquisition de compétences en relation client, communication et suivi des commandes.
    </p>

    <ul>
      <li>Vente et promotion de produits</li>
      <li>Relation client et communication</li>
      <li>Suivi et gestion des commandes</li>
    </ul>
  </div>
</div>

</div>
  </section>

</main>
