  <header id="header" class="header">
  <div class="container-fluid nav-wrapper">
    
    <div class="logo">Cyrine Mezzi</div>

    <nav class="navmenu">
  <ul>
    <li><a routerLink="/home" class="active">Accueil</a></li>
    <li><a routerLink="/about">Présentation</a></li>
    <li><a routerLink="/resume">Parcours Professionnel

    </a></li>
        <li><a routerLink="/portfolio">Experience</a>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>


    <div class="header-social">
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-envelope"></i>
    </div>

  </div>
</header>
<section class="hero">
  <div class="overlay"></div>
  <div class="hero-content">

    <div class="hero-text">
      <h1>Bienvenue sur mon portfolio de <br> développement web !</h1>
      <p style="color: #e4e2e2;">Je suis <strong>Mezzi Cyrine</strong>, une développeuse web passionnée basée à Tunis. <br/> Ici, vous découvrirez mon parcours dans le monde du développement web, où la créativité rencontre la fonctionnalité.</p>
      <p class="subtitle"><strong>Ingénieur Logiciel & DevOps | Administration Systèmes | Cloud & Sécurité</strong></p>
    </div>

    <div class="hero-form">
      <input type="email" placeholder="Entrez votre email" />
      <button type="button">N'hésitez pas à m’envoyer un message</button>
      <button (click)="goToProjects()" type="button">À propos de moi</button>
     
    </div>

  </div>
</section>
  <footer id="footer" class="footer light-background">

   
    
      
<!-- Footer -->

  <div class="container text-center">
    <div class="copyright">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Cyrine</strong> <span>All Rights Reserved</span></p>
    </div>
    <div class="social-links d-flex justify-content-center mt-2">
      <a href="mailto:cyrine@example.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope" style="font-size: 1.5rem;"></i></a>
      <a href="https://www.facebook.com/cyrine.mezzi/?locale=fr_FR" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a>
      <a href="https://www.instagram.com/mezzi_cyrine/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
      <a href="https://www.linkedin.com/in/cyrine-mezzi-208198223/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin" style="font-size: 1.5rem;"></i></a>
   
  </div>
      <div class="credits">
       
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by ThemeWagon
      </div>
    </div>

  </footer>

